body{
    background-color: #f5f5f5;
    font-family: 'Oswald',sans-serif;
    text-align: center;
}
header,footer{
    text-align: center;
    margin: 30px auto 0px auto;
    width: 300px;
}

footer{
    font-size: 0.5em;
}

main{
    margin: 30px auto 0px auto;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
}

img{
    width: 70px;
}

.conversor {
   
    width: 400px;
    padding: 40px;
    margin: 30px auto 30px auto;
    background: #110421;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    color: #f5f5f5;

}

.inputForm {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    margin: 10px auto 10px auto;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    max-width: 200px;
}
input[type="submit"]{
    margin: 10px auto 10px auto;
    height: 35px;
    width: 100%;
    font-family: 'Oswald',sans-serif;   
    background: linear-gradient(90deg, transparent, #009aa2);
    color: #fff;
   
}

input[type="submit"]:hover{
    background: #03acb5;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}




.conversor p{
    text-align: left;
    display: none;
}


.resultados p{
    font-size: larger;
    color: aquamarine;
}

#error{
    color: red;
}